/target/
/.settings/
/.project
/.classpath
/.externalToolBuilders/
/src/main/resources/rebel.xml
**/generated/**.adoc
**/output/**/**.html
!**/output/index.html
/.tern-project
/sonar.sh
shell/
/run.sh
/mvn_build.sh
.idea
*.iml
*.orig
*.log
*.log*.gz
/mvn_skip_test.sh
/pom.xml.versionsBackup
